<html>
<head>
<title>Angular Form validations</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</head>

<body ng-app="firstModule" ng-controller="dataController">

Search in Name:<input type="text" ng-model="search.name"/>

	<div>
		<table>
			<thead>
				<tr>
					<th>Sr No.</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Age</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody ng-repeat="employee in listOfEmployees | orderBy:'surName' | filter: search">
				<tr>
					<td>{{employee.no}} </td>
					<td>{{employee.name  | uppercase}} </td>
					<td>{{employee.surName | uppercase}} </td>
					<td>{{employee.age}}</td>
					<td>{{employee.salary}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>